@CHARSET "ISO-8859-1";
body { 
    font-family: arial;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.sim_box_shadow{
    -webkit-box-shadow: 10px -10px 25px -10px #333333;
    -moz-box-shadow: 10px -10px 25px -10px #333333;
    box-shadow: 10px -10px 25px -10px #333333;
    margin: 30px auto 20px auto;
    padding-top: 1px;
    background: #fff;
    min-width: 1200px;
    width: 90%;
    min-height: 600px;
    height: auto;
}

.sim_header_left,  .sim_header_login{
    color:#2e90bd;
    height: 100px;
    padding: 0 0 5px 0;
    position: relative;
    font-family:arial;
    font-size:12px;
}

.sim_header_left{
    background: url(imgs/banner.png) no-repeat;
}
.sim_header{
    background: url(imgs/banner-right.png);
}

#sim_dropdown_login{
}

#sim_cart{
	width: 253px;
	height: 60px;
	position: absolute;
	right: 30px;
	top: 24px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-radius: 3px;
	border-color: #c4e8f3;
}

#sim_cart .sim_number_products{
	background: url(imgs/cart.png) no-repeat left bottom;
	padding-left: 60px;
	padding-top: 10px;
	padding-right: 10px;
	text-transform: uppercase;
	float:left;
}

#sim_cart .sim_validate{
	background: url(imgs/line.png) no-repeat left bottom;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	text-transform: uppercase;
	float:left;
}

#sim_cart .sim_validate{
	padding-left: 10px;
	padding-top: 13px;
	padding-right: 5px;
	text-transform: uppercase;
	float:left;
}


.sim_register{
    position: absolute;
    right: 24px;
}

#sim_form_login {
    position: absolute;
    right: 24px;
	top: 0px;
}
#sim_form_register{
    font-family: arial;
    color: #3b9ec7;
}

#sim_form_register span{
    padding: 0 50px 0 0;
}

.sim_label_form{
    float: left;
    width: 150px;
}

.sim_register{
    float: left;
    padding: 0 0 5px;
    margin: 0;
    font-family: arial;
    float: center; 
    margin-top: 10px;
}

.ui-button-text .sim_login{
    text-decoration: underline;
    color:#2e90bd;
    padding: 10 20 10 20px;
    margin-left: 20px;
}

.sim_ahref{
    text-decoration: underline;
    color:#2e90bd;
}

.ui-button-text .sim_main_menu{
    text-decoration: none;
    color:#2e90bd;
    padding: 0 0 5px;
    margin: 0;
    font-family: arial;
}

#sim_categories{
	color:#2e90bd;
    font-family:arial;
    font-size:12px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-radius: 3px;
	border-color: #c4e8f3;
	background-color: #fff;
    color: #3b9ec7;
    height: 40px;
    padding: 5px 1px 5px 1px;
}

#sim_categories div{
	float: left;
    height: 39px;
    width: 100px;
    padding: 1px 5px 1px 5px;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid;
    border-color: #3b9ec7;
}

.sim_menu_over{
    color: #fff;
    background-color: #3b9ec7;
}

#sim_categories div .sim_dropdown_toggle{
	position: relative;
	top: 30px;
	height: auto;
	width: auto;
    color: #fff;
    background-color: #3b9ec7;
    border-right: 0px solid;
    border-color: #fff;
    cursor: default;
    border-radius: 2px;
	font-weight: bold;
}

#sim_categories div .sim_dropdown_toggle li{
	display: inherit;
	list-style-type: none;
	margin: 0; 
	padding: 0 0 1.5em; 
	margin-right: 5px;
	text-align: left;
	
}

#sim_categories div .sim_dropdown_toggle a{
	color: #fff;
	text-decoration: none;
}


#sim_nav{
    height: 30px;
    color: #3b9ec7;
    padding: 5px 5px 5px 5px;
    background-color: #fff;
}

#sim_nav{
	font-family:arial;
    font-size:15px;
    color: #3b9ec7;
    padding: 5px 15px 5px 15px;
    background-color: #F2F2F2;
}

#sim_body{
	
}

#sim_body_offer{
	font-family:arial;
    font-size:15px;
    color: #3b9ec7;
    padding: 5px 15px 5px 15px;
}

#sim_body_menu{
    float: left;
    width: 150px;
    height: 100%;
    min-height: 300px;
    background-color: #fff;
    color: #3b9ec7;
    padding: 5px 10px 0 5px;
    border-right: 1px #3b9ec7 solid;
}

#sim_body_menu li{
	list-style-type: none;
	color: #3b9ec7;
	padding: 0 0 0.8em;
	
}

#sim_body_menu a{
	font-family:arial;
    font-size:15px;
	text-decoration:none;
	color: #3b9ec7;
}

#sim_body_menu span{
	border-bottom: 1px #3b9ec7 dotted;
	width: 100px;
	font-weight:bold;
}

#sim_body_body{
	float: left;
    padding: 5px 0 0 50px;
    width: 900px;
    height: 100%;
}

#sim_body_offers{
	min-height: 330px;
    height: 100%;
	margin: 15px 15px 5px 15px;
	border-radius: 3px 3px 3px 2px;
	border: 1px #3b9ec7 solid;
	background: #FAFAFA;
	padding: 15px;
}

#sim_loading{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ddd url(imgs/ajax-loader.png) no-repeat center;
    opacity: 0.7;
}

.obligatory{
    color: red;
    font-size: 10px;
}

.sim_static_block_label{
    font-variant:small-caps;
    color: #585858;
}

.sim_product_add_button{
	font-family:arial;
    font-size:12px;
	width: 80px;
	height: 25px;
	float: right;
	text-align: center;
	vertical-align: middle;
}

.sim_products{
    height: 280px;
    width: 180px;
    padding: 0 0 5px 0;
    border: 1px solid #ddd;
    overflow: auto;
    margin: 5px;
    float: left;
    font-size: 15px;
}

.sim_product_quantity{
	float: left;
	padding: 2px;
}

.sim_image_product{
	max-height: 100%;
	z-index: 2;
	min-height: 165px; 
	padding: 5px 0 5px 0;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	text-align: center;
}

#sim_sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sim_sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sim_sortable li span { position: absolute; margin-left: -1.3em; }